{% extends 'basic_app/base.html' %}
{% load staticfiles %}
{% block body_block %}
<div class="container">
    <div class="jumbotron">
        {% if registered %}
            <h1>Thank You For Registration</h1>
        {% else %}

            <h1>Register Here</h1>
            <form method="POST", enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input class="btn btn-primary" type="submit" value="Register">

            </form>


        {% endif %}

    </div>
</div>








{% endblock %}